[logging]
loglevel = 4
destination = file

[client]
enable_client = yes
user_interface = text
downloads_path = ~/Downloads
announce_at_start = yes
try_propagation_on_send_fail = yes
periodic_lxmf_sync = yes
lxmf_sync_interval = 360
lxmf_sync_limit = 8

[textui]
intro_time = 1
theme = dark
colormode = 256
glyphs = unicode
mouse_enabled = True
editor = editor
hide_guide = no

[node]
enable_node = yes
node_name = Anonymous Meshed Banana
announce_interval = 360
announce_at_start = Yes
